{% extends "base_generic.html" %}

{% block content %}
  <h1>Имя: {{ author.first_name }} {{ author.last_name }}</h1>
  <p><strong>Дата рождения:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Дата смерти:</strong> {{ author.date_of_death|default:"-" }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Книги</h4>

    {% for book in author.book_set.all %}
    <hr>
    <p>
      <strong>Название:</strong> <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
    </p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    {% endfor %}
  </div>
{% endblock %}
